html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0rem;
    margin: 0rem;
    height: 100vh;
    background: url(./images/coffeebg.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

navbar {
    display: flex;
    height: 7.6rem;
    background-color: #020304;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navimg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

.navimg img {
    height: 7rem;
    width: 8rem;
}

.navlist {
    width: 60%;
    height: 100%;
}

.navlist ul {
    display: flex;
    height: 100%;
    margin: 0rem;
    padding: 0rem;
    align-items: center;
    justify-content: center;
}

.navlist ul li {
    list-style: none;
    font-size: 2rem;
    margin: 0rem 4rem;
    color: white;
    font-weight: 500;
}

.navlist ul li:hover {
    color: #c7a17a;
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: all 0.3s ease;
}

.navright {
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: center;
}

.navright i {
    font-size: 2.5rem;
    color: #c7a17a;
    margin: auto;
}

#home {
    display: flex;
}

#homeleft {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pone {
    font-size: 10rem;
    margin: 2rem;
    margin-bottom: 0px;
    font-family: 'Bebas Neue', cursive;
}

.ptwo {
    font-size: 7rem;
    margin: 2rem;
    margin-top: 0px;
}

.pthree {
    font-size: 1.8rem;
    margin: 2rem;
    margin-top: 0px;
}

.p {
    margin-left: 7rem;
}

#homebutton {
    margin-top: 4rem;
    border-radius: 2px;
    border: none;
    background-color: #c7a17a;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 7rem;
    width: 23rem;
    height: 5.7rem;
    transition: .7s all ease;
    font-weight: bold;
}

#homebutton:hover {
    background-color: #020304;
    transition: 0.4s;
}

#homeright {
    width: 40%;
    height: calc(100vh - 7.6rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#homeright img {
    height: 54rem;
    animation-name: coffee;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: all 0.3s ease;
}

@keyframes coffee {
    0% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(-3rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

#coffeemenudiv {
    /* background-color: #c7a17a7a; */
    background-color: #c7a17ab8;
}

.bg {
    height: 10rem;
    background-color: #c7a17ab8;
}

.menup {
    padding-top: 8rem;
    /* border-bottom: 2px solid #564b3f; */
    text-align: center;
    margin: 4rem auto;
    font-weight: bolder;
    color: #564b3f;
    font-size: 5rem;
}

.coffeemenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.coffee {
    display: flex;
    flex-direction: column;
    height: 49.6rem;
    margin: 4rem;
    width: 40rem;
    align-items: center;
    background-color: rgba(1, 1, 1, .1);
    border-radius: 15px;
    transition: all ease .6s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rel {
    position: relative;
    margin-top: 2rem;
}

.blackdiv {
    position: absolute;
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    top: 0rem;
    background-color: rgba(226, 212, 212, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.mug {
    height: 10rem!important;
    width: 10rem!important;
    animation-name: mug;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transition: all ease 0.5s;
}

@keyframes mug {
    0% {
        transform: translateY(5rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.coffee:hover {
    background-color: rgb(37, 4, 15);
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.coffee img {
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
}

.coffee p {
    font-size: 2rem;
    margin: .9rem 0px;
    color: white;
    /* cursor: pointer; */
}

.flexsize {
    display: flex;
    align-items: center;
}

.flexsize p {
    font-size: 1.7rem;
}
.flexstar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.3rem 0rem;
   
}
.flexstar i{
    font-size: 2.4rem;
    margin: 0rem 1.5rem;
    
}
.nonestar{
    
    display: none;
}
.nonestar i{
    color: #c7a17a;

}

.sizep {
    margin-right: 2rem!important;
    font-size: 1.8rem!important;
}

.coffeename {
    font-weight: 600;
}

.coffee button {
    width: 80%;
    height: 4rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #b5531a85;
    color: white;
    font-size: 2rem;
    margin: 1rem 0px;
    margin-top: 2rem;
}

#contact {
    width: 100%;
    height: 44rem;
    background: url(./images/contactbg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#contact p {
    color: white;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin: 3rem auto;
}

.contp {
    padding-top: 2rem;
}

#contactdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contactdiv input {
    height: 2.9rem;
    padding-left: 1rem;
    border: none;
    outline: none;
    margin: .5rem 0rem;
    width: 40rem;
    font-size: 1.6rem;
}

#contactdiv textarea {
    height: 6rem;
    padding-left: 1rem;
    margin: .5rem 0rem;
    width: 40rem;
    font-size: 1.6rem;
}

#submit {
    height: 4rem;
    margin: .8rem 0rem;
    width: 41rem;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: black;
    border: none;
    outline: none;
    border: 1px solid white;
    color: white;
    transition: all ease .6s;
}

#submit:hover {
    background-color: #c7a17a;
    color: black;
    border: 1px solid black;
}

#social {
    display: flex;
    justify-content: center;
}

#social a {
    margin: 2rem 3rem;
    cursor: pointer;
    text-decoration: none;
}

#social i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c7a17a;
    font-size: 2rem;
    height: 3.7rem;
    width: 3.7rem;
}

#social i:hover {
    color: black;
    background-color: white;
    border-radius: 50%;
}